## Data Discovery

In [22]:
import pandas as pd
import os
import numpy as np

In [2]:
xlsx = pd.read_excel(os.path.join('rawdata/Storm Data Jun-Dec 2011.xlsx'))

In [3]:
df = pd.DataFrame(xlsx)

In [4]:
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,EVENT_TYPE,...,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE,FLOOD_CAUSE,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,201110,29,1500,201110,30,800,57676,350515,NEW HAMPSHIRE,Heavy Snow,...,50.00K,0.00K,Amateur Radio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201108,28,853,201108,28,1453,57538,345212,NEW HAMPSHIRE,Tropical Storm,...,15.00K,0.00K,Amateur Radio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201110,30,120,201110,30,120,57676,352765,NEW HAMPSHIRE,Strong Wind,...,5.00K,0.00K,Amateur Radio,35.0,NaN,NaN,NaN,NaN,NaN,NaN
3,201107,21,1600,201107,21,1800,55656,333708,NEW HAMPSHIRE,Excessive Heat,...,0.00K,0.00K,AWOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201106,28,1650,201106,28,1653,54705,328712,NORTH CAROLINA,Thunderstorm Wind,...,9.00K,0.00K,Emergency Manager,56.0,NaN,NaN,34.8108,-79.1868,34.8157,-79.1807

In [5]:
df.describe()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,MAGNITUDE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
count,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,23939.000000,28308.000000,28308.000000,28308.000000,28308.000000
mean,201107.553264,13.501304,1305.504719,201107.553264,16.429190,1598.097090,55223.958077,332577.501851,0.084576,0.005605,0.010194,0.001486,35.007808,39.000270,-89.058626,38.997021,-89.050432
std,1.489460,9.200079,680.899719,1.489460,9.435271,574.259801,2270.263322,14044.131113,3.322926,0.360976,0.202643,0.045931,25.317414,4.836674,10.998690,4.835368,10.995543
min,201106.000000,1.000000,0.000000,201106.000000,1.000000,0.000000,50283.000000,295877.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-14.327700,-170.886800,-14.389300,-170.829200
25%,201106.000000,5.000000,929.750000,201106.000000,8.000000,1400.000000,53563.000000,322929.750000,0.000000,0.000000,0.000000,0.000000,1.250000,35.620000,-97.160025,35.613400,-97.160000
50%,201107.000000,13.000000,1515.000000,201107.000000,17.000000,1701.000000,55238.000000,333461.500000,0.000000,0.000000,0.000000,0.000000,50.000000,39.440000,-88.270000,39.437450,-88.255000
75%,201108.000000,21.000000,1812.000000,201108.000000,25.000000,1958.000000,57146.000000,343539.250000,0.000000,0.000000,0.000000,0.000000,52.000000,42.250000,-80.759875,42.250000,-80.750000
max,201111.000000,31.000000,2359.000000,201111.000000,31.000000,2359.000000,79994.000000,588494.000000,301.000000,60.000000,22.000000,4.000000,130.000000,65.699100,144.858500,65.750100,144.759000

In [6]:
df.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'EVENT_TYPE',
       'CZ_NAME', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'FLOOD_CAUSE', 'TOR_F_SCALE', 'BEGIN_LAT', 'BEGIN_LON',
       'END_LAT', 'END_LON'],
      dtype='object')

In [7]:
df.nunique()

BEGIN_YEARMONTH          6
BEGIN_DAY               31
BEGIN_TIME            1400
END_YEARMONTH            6
END_DAY                 31
END_TIME              1397
EPISODE_ID            6350
EVENT_ID             38356
STATE                   65
EVENT_TYPE              39
CZ_NAME               2679
INJURIES_DIRECT         36
INJURIES_INDIRECT       12
DEATHS_DIRECT           12
DEATHS_INDIRECT          4
DAMAGE_PROPERTY        268
DAMAGE_CROPS            97
SOURCE                  36
MAGNITUDE               99
FLOOD_CAUSE              6
TOR_F_SCALE              5
BEGIN_LAT            11094
BEGIN_LON            12945
END_LAT              12123
END_LON              13974
dtype: int64

## Data Cleanup

#### Things to analyze
- Split Begin Year Month
- create a single column for YYYY-MM-DD for Quandl API comparison for begin, and end

In [8]:
dtdf = pd.DataFrame(xlsx)
dtdf.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,EVENT_TYPE,...,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE,FLOOD_CAUSE,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,201110,29,1500,201110,30,800,57676,350515,NEW HAMPSHIRE,Heavy Snow,...,50.00K,0.00K,Amateur Radio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201108,28,853,201108,28,1453,57538,345212,NEW HAMPSHIRE,Tropical Storm,...,15.00K,0.00K,Amateur Radio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201110,30,120,201110,30,120,57676,352765,NEW HAMPSHIRE,Strong Wind,...,5.00K,0.00K,Amateur Radio,35.0,NaN,NaN,NaN,NaN,NaN,NaN
3,201107,21,1600,201107,21,1800,55656,333708,NEW HAMPSHIRE,Excessive Heat,...,0.00K,0.00K,AWOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201106,28,1650,201106,28,1653,54705,328712,NORTH CAROLINA,Thunderstorm Wind,...,9.00K,0.00K,Emergency Manager,56.0,NaN,NaN,34.8108,-79.1868,34.8157,-79.1807

In [9]:
dtdf['BEGIN_YM_STR'] = dtdf['BEGIN_YEARMONTH'].astype(str)
dtdf['BEGIN_YEAR'] = df['BEGIN_YM_STR'].str[0:4]
dtdf['BEGIN_MONTH'] = df['BEGIN_YM_STR'].str[4:6]
dtdf['END_YM_STR'] = dtdf['END_YEARMONTH'].astype(str)
dtdf['END_YEAR'] = df['END_YM_STR'].str[0:4]
dtdf['END_MONTH'] = df['END_YM_STR'].str[4:6]
dtdf["START_DATE"] = dtdf["BEGIN_YEAR"].map(str) + "-" + dtdf["BEGIN_MONTH"].map(str) + "-" +\
dtdf["BEGIN_DAY"].map(str)
dtdf["END_DATE"] = dtdf["END_YEAR"].map(str) + "-" + dtdf["END_MONTH"].map(str) + "-" +\
dtdf["END_DAY"].map(str)
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,EVENT_TYPE,...,END_LAT,END_LON,BEGIN_YM_STR,BEGIN_YEAR,BEGIN_MONTH,END_YM_STR,END_YEAR,END_MONTH,START_DATE,END_DATE
0,201110,29,1500,201110,30,800,57676,350515,NEW HAMPSHIRE,Heavy Snow,...,NaN,NaN,201110,2011,10,201110,2011,10,2011-10-29,2011-10-30
1,201108,28,853,201108,28,1453,57538,345212,NEW HAMPSHIRE,Tropical Storm,...,NaN,NaN,201108,2011,08,201108,2011,08,2011-08-28,2011-08-28
2,201110,30,120,201110,30,120,57676,352765,NEW HAMPSHIRE,Strong Wind,...,NaN,NaN,201110,2011,10,201110,2011,10,2011-10-30,2011-10-30
3,201107,21,1600,201107,21,1800,55656,333708,NEW HAMPSHIRE,Excessive Heat,...,NaN,NaN,201107,2011,07,201107,2011,07,2011-07-21,2011-07-21
4,201106,28,1650,201106,28,1653,54705,328712,NORTH CAROLINA,Thunderstorm Wind,...,34.8157,-79.1807,201106,2011,06,201106,2011,06,2011-06-28,2011-06-28

In [10]:
dtdf.DAMAGE_PROPERTY = (dtdf.DAMAGE_PROPERTY.replace(r'[KM]+$', '', regex=True).astype(float) * \
dtdf.DAMAGE_PROPERTY.str.extract(r'[\d\.]+([KM]+)', expand=False).fillna(0).replace(['K','M'], [10**3, 10**6]).astype(int))

In [11]:
# Whoa a Billion..
dtdf.DAMAGE_CROPS = (dtdf.DAMAGE_CROPS.replace(r'[KMB]+$', '', regex=True).astype(float) * \
dtdf.DAMAGE_CROPS.str.extract(r'[\d\.]+([KMB]+)', expand=False).fillna(0).replace(['K','M','B'], [10**3, 10**6, 10**9]).astype(int))

In [12]:
dtdf['DAMAGE_PROPERTY'] = dtdf['DAMAGE_PROPERTY'].fillna(0)
dtdf['DAMAGE_CROPS'] = dtdf['DAMAGE_CROPS'].fillna(0)
dtdf.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,EVENT_TYPE,...,END_LAT,END_LON,BEGIN_YM_STR,BEGIN_YEAR,BEGIN_MONTH,END_YM_STR,END_YEAR,END_MONTH,START_DATE,END_DATE
0,201110,29,1500,201110,30,800,57676,350515,NEW HAMPSHIRE,Heavy Snow,...,NaN,NaN,201110,2011,10,201110,2011,10,2011-10-29,2011-10-30
1,201108,28,853,201108,28,1453,57538,345212,NEW HAMPSHIRE,Tropical Storm,...,NaN,NaN,201108,2011,08,201108,2011,08,2011-08-28,2011-08-28
2,201110,30,120,201110,30,120,57676,352765,NEW HAMPSHIRE,Strong Wind,...,NaN,NaN,201110,2011,10,201110,2011,10,2011-10-30,2011-10-30
3,201107,21,1600,201107,21,1800,55656,333708,NEW HAMPSHIRE,Excessive Heat,...,NaN,NaN,201107,2011,07,201107,2011,07,2011-07-21,2011-07-21
4,201106,28,1650,201106,28,1653,54705,328712,NORTH CAROLINA,Thunderstorm Wind,...,34.8157,-79.1807,201106,2011,06,201106,2011,06,2011-06-28,2011-06-28

In [13]:
dtdf.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'EVENT_TYPE',
       'CZ_NAME', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'FLOOD_CAUSE', 'TOR_F_SCALE', 'BEGIN_LAT', 'BEGIN_LON',
       'END_LAT', 'END_LON', 'BEGIN_YM_STR', 'BEGIN_YEAR', 'BEGIN_MONTH',
       'END_YM_STR', 'END_YEAR', 'END_MONTH', 'START_DATE', 'END_DATE'],
      dtype='object')

In [14]:
final = dtdf[['EVENT_ID','START_DATE', 'END_DATE', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS','EVENT_TYPE','CZ_NAME', 'STATE', 'SOURCE']]
final.head()

,EVENT_ID,START_DATE,END_DATE,DAMAGE_PROPERTY,DAMAGE_CROPS,EVENT_TYPE,CZ_NAME,STATE,SOURCE
0,350515,2011-10-29,2011-10-30,50000.0,0.0,Heavy Snow,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,Amateur Radio
1,345212,2011-08-28,2011-08-28,15000.0,0.0,Tropical Storm,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,Amateur Radio
2,352765,2011-10-30,2011-10-30,5000.0,0.0,Strong Wind,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,Amateur Radio
3,333708,2011-07-21,2011-07-21,0.0,0.0,Excessive Heat,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,AWOS
4,328712,2011-06-28,2011-06-28,9000.0,0.0,Thunderstorm Wind,ROBESON,NORTH CAROLINA,Emergency Manager

In [15]:
final['DAMAGE_CROPS'].max()

1050000000.0

In [16]:
final.dtypes

EVENT_ID             int64
START_DATE          object
END_DATE            object
DAMAGE_PROPERTY    float64
DAMAGE_CROPS       float64
EVENT_TYPE          object
CZ_NAME             object
STATE               object
SOURCE              object
dtype: object

In [17]:
# Complete the call to convert the date column
final['START_DATE'] =  pd.to_datetime(final['START_DATE'], format='%Y-%m-%d')
final['END_DATE'] =  pd.to_datetime(final['END_DATE'], format='%Y-%m-%d')
final

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,EVENT_ID,START_DATE,END_DATE,DAMAGE_PROPERTY,DAMAGE_CROPS,EVENT_TYPE,CZ_NAME,STATE,SOURCE
0,350515,2011-10-29,2011-10-30,50000.0,0.0,Heavy Snow,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,Amateur Radio
1,345212,2011-08-28,2011-08-28,15000.0,0.0,Tropical Storm,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,Amateur Radio
2,352765,2011-10-30,2011-10-30,5000.0,0.0,Strong Wind,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,Amateur Radio
3,333708,2011-07-21,2011-07-21,0.0,0.0,Excessive Heat,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,AWOS
4,328712,2011-06-28,2011-06-28,9000.0,0.0,Thunderstorm Wind,ROBESON,NORTH CAROLINA,Emergency Manager
5,328717,2011-06-28,2011-06-28,0.0,0.0,Thunderstorm Wind,FLORENCE,SOUTH CAROLINA,Trained Spotter
6,326349,2011-06-28,2011-06-28,18000.0,0.0,Thunderstorm Wind,LYNCHBURG (C),VIRGINIA,Law Enforcement
7,326350,2011-06-28,2011-06-28,900.0,0.0,Thunderstorm Wind,CAMPBELL,VIRGINIA,State Official
8,326352,2011-06-28,2011-06-28,2700.0,0.0,Thunderstorm Wind,BEDFORD,VIRGINIA,State Official
9,326357,2011-06-28,2011-06-28,4500.0,0.0,Thunderstorm Wind,BUCKINGHAM,VIRGINIA,Law Enforcement
10,320901,2011-06-20,2011-06-20,0.0,0.0,Thunderstorm Wind,MARION,KANSAS,Trained Spotter
11,320902,2011-06-20,2011-06-20,0.0,0.0,Hail,SEDGWICK,KANSAS,Public
12,320906,2011-06-20,2011-06-20,0.0,0.0,Flood,SEDGWICK,KANSAS,Trained Spotter
13,320907,2011-06-20,2011-06-20,0.0,0.0,Thunderstorm Wind,BUTLER,KANSAS,Trained Spotter
14,320909,2011-06-20,2011-06-20,0.0,0.0,Hail,SUMNER,KANSAS,Trained Spotter
15,328721,2011-06-28,2011-06-28,1000.0,0.0,Thunderstorm Wind,FLORENCE,SOUTH CAROLINA,Department of Highways
16,328978,2011-06-27,2011-06-27,1000.0,0.0,Lightning,COLUMBUS,NORTH CAROLINA,Trained Spotter
17,329922,2011-08-01,2011-08-31,0.0,0.0,Drought,DOUGHERTY,GEORGIA,Official NWS Observations
18,329923,2011-08-01,2011-08-31,0.0,0.0,Drought,EARLY,GEORGIA,Official NWS Observations
19,329924,2011-08-01,2011-08-31,0.0,0.0,Drought,GRADY,GEORGIA,Official NWS Observations
20,329925,2011-08-01,2011-08-31,0.0,0.0,Drought,IRWIN,GEORGIA,Official NWS Observations
21,329926,2011-08-01,2011-08-31,0.0,0.0,Drought,LANIER,GEORGIA,Official NWS Observations
22,329927,2011-08-01,2011-08-31,0.0,0.0,Drought,LEE,GEORGIA,Official NWS Observations
23,329928,2011-08-01,2011-08-31,0.0,0.0,Drought,LOWNDES,GEORGIA,Official NWS Observations
24,329929,2011-08-01,2011-08-31,0.0,0.0,Drought,MILLER,GEORGIA,Official NWS Observations
25,324303,2011-06-26,2011-06-26,0.0,0.0,Thunderstorm Wind,HARRISON,MISSOURI,Trained Spotter
26,324304,2011-06-26,2011-06-26,0.0,0.0,Hail,HARRISON,MISSOURI,Trained Spotter
27,327836,2011-06-24,2011-06-24,1000.0,0.0,Thunderstorm Wind,CHEROKEE,GEORGIA,Emergency Manager
28,317492,2011-07-11,2011-07-11,0.0,0.0,Hail,SHERIDAN,NEBRASKA,Public
29,317493,2011-07-11,2011-07-11,0.0,0.0,Thunderstorm Wind,SHERIDAN,NEBRASKA,Public
...,...,...,...,...,...,...,...,...,...
38326,322309,2011-06-21,2011-06-21,0.0,0.0,Thunderstorm Wind,WILL,ILLINOIS,Trained Spotter
38327,332522,2011-07-24,2011-07-24,20000.0,0.0,Thunderstorm Wind,GRANVILLE,NORTH CAROLINA,Law Enforcement
38328,307570,2011-07-04,2011-07-04,25000.0,0.0,Thunderstorm Wind,CLEVELAND,ARKANSAS,Public
38329,334958,2011-08-25,2011-08-25,50000.0,0.0,Thunderstorm Wind,LAWRENCE,PENNSYLVANIA,Law Enforcement
38330,309893,2011-07-07,2011-07-07,0.0,0.0,Hail,MARION,ARKANSAS,Trained Spotter
38331,339751,2011-08-02,2011-08-02,0.0,0.0,Thunderstorm Wind,DE KALB,ILLINOIS,Trained Spotter
38332,326247,2011-06-13,2011-06-13,0.0,0.0,Hail,DUNKLIN,MISSOURI,Law Enforcement
38333,334614,2011-07-18,2011-07-18,2000.0,0.0,Thunderstorm Wind,GUERNSEY,OHIO,Emergency Manager
38334,325333,2011-06-04,2011-06-04,0.0,0.0,Thunderstorm Wind,HOWARD,INDIANA,Amateur Radio
38335,305543,2011-06-26,2011-06-26,0.0,0.0,Thunderstorm Wind,ANTELOPE,NEBRASKA,Law Enforcement
38336,349797,2011-09-05,2011-09-05,0.0,0.0,Marine Thunderstorm Wind,PENSACOLA FL TO PASCAGOULA MS OUT 20NM,GULF OF MEXICO,C-MAN Station
38337,352097,2011-10-07,2011-10-07,0.0,0.0,Thunderstorm Wind,GRANT,KANSAS,Public
38338,345193,2011-08-08,2011-08-08,10000.0,0.0,Lightning,MADISON,ALABAMA,Trained Spotter
38339,339631,2011-08-11,2011-08-11,10000.0,0.0,Thunderstorm Wind,DAVISON,SOUTH DAKOTA,Law Enforcement
38340,320010,2011-08-05,2011-08-05,0.0,0.0,Hail,BELTRAMI,MINNESOTA,Trained Spotter
38341,332526,2011-06-20,2011-06-20,0.0,0.0,Thunderstorm Wind,LEWIS,MISSOURI,Newspaper
38342,298030,2011-06-09,2011-06-09,1000.0,0.0,Thunderstorm Wind,MCCORMICK,SOUTH CAROLINA,Public
38343,333257,2011-07-04,2011-07-04,0.0,0.0,Thunderstorm Wind,AROOSTOOK,MAINE,Utility Company
38344,342676,2011-08-12,2011-08-12,0.0,0.0,Thunderstorm Wind,MCPHERSON,KANSAS,Amateur Radio
38345,329801,2011-08-28,2011-08-28,0.0,0.0,Heavy Rain,JEFFERSON,OREGON,Trained Spotter
38346,327328,2011-06-05,2011-06-05,0.0,0.0,Thunderstorm Wind,ADAMS,ILLINOIS,Fire Department/Rescue
38347,299929,2011-06-15,2011-06-15,6000.0,0.0,Thunderstorm Wind,LEXINGTON,SOUTH CAROLINA,Law Enforcement
38348,334585,2011-09-20,2011-09-20,0.0,0.0,Funnel Cloud,GRAND FORKS,NORTH DAKOTA,Trained Spotter
38349,347338,2011-09-29,2011-09-29,0.0,0.0,Marine Thunderstorm Wind,BOSTON HARBOR,ATLANTIC NORTH,Mesonet
38350,318542,2011-06-02,2011-06-02,0.0,0.0,Hail,RUTHERFORD,NORTH CAROLINA,Trained Spotter
38351,328607,2011-06-26,2011-06-26,2250.0,0.0,Thunderstorm Wind,BRYAN,GEORGIA,Law Enforcement
38352,341339,2011-08-09,2011-08-09,0.0,0.0,Thunderstorm Wind,ELBERT,GEORGIA,County Official
38353,347251,2011-09-02,2011-09-02,0.0,0.0,Thunderstorm Wind,ALEXANDER,NORTH CAROLINA,County Official
38354,341348,2011-08-11,2011-08-11,0.0,0.0,Thunderstorm Wind,CABARRUS,NORTH CAROLINA,Emergency Manager
38355,346846,2011-09-04,2011-09-04,0.0,0.0,Thunderstorm Wind,RENSSELAER,NEW YORK,State Official

In [18]:
final.dtypes

EVENT_ID                    int64
START_DATE         datetime64[ns]
END_DATE           datetime64[ns]
DAMAGE_PROPERTY           float64
DAMAGE_CROPS              float64
EVENT_TYPE                 object
CZ_NAME                    object
STATE                      object
SOURCE                     object
dtype: object

In [19]:
final.describe()

            EVENT_ID  DAMAGE_PROPERTY  DAMAGE_CROPS
count   38356.000000     3.835600e+04  3.835600e+04
mean   332577.501851     1.751267e+05  6.089655e+04
std     14044.131113     5.407172e+06  5.564226e+06
min    295877.000000     0.000000e+00  0.000000e+00
25%    322929.750000     0.000000e+00  0.000000e+00
50%    333461.500000     0.000000e+00  0.000000e+00
75%    343539.250000     1.000000e+03  0.000000e+00
max    588494.000000     5.000000e+08  1.050000e+09

In [27]:
cols = ['DAMAGE_PROPERTY', 'DAMAGE_CROPS']

In [29]:
final[cols] = final[cols].replace({0:np.nan})

In [30]:
final.head()

,EVENT_ID,START_DATE,END_DATE,DAMAGE_PROPERTY,DAMAGE_CROPS,EVENT_TYPE,CZ_NAME,STATE,SOURCE
0,350515,2011-10-29,2011-10-30,50000.0,NaN,Heavy Snow,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,Amateur Radio
1,345212,2011-08-28,2011-08-28,15000.0,NaN,Tropical Storm,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,Amateur Radio
2,352765,2011-10-30,2011-10-30,5000.0,NaN,Strong Wind,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,Amateur Radio
3,333708,2011-07-21,2011-07-21,NaN,NaN,Excessive Heat,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,AWOS
4,328712,2011-06-28,2011-06-28,9000.0,NaN,Thunderstorm Wind,ROBESON,NORTH CAROLINA,Emergency Manager

In [31]:
final.to_csv(os.path.join('cleandata','2011_disaster_data.csv'),index=False)